
html, body {
	height: 100%;
}

.container {
 	padding: 15px;
	height: 100%; 
	min-height: 100%;
}

h4 {
 	margin-top: 25px;
}
.row {
	margin-bottom: 20px;
}
.row .row {
	margin-top: 10px;
 	margin-bottom: 0;
}
[class*="col-"] {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #eee;
	border: 1px solid #ddd;
	background-color: #CCC;
	border: 1px solid rgba(146, 160, 156, 0.2)
}

.selected {
	background-color: #FAFAFA;
}

#choose-league [class*="col-"]:not(.selected):hover,
#choose-team div.team:not(.active):hover {
	background-color: #e2e2e2;
}

hr {
	margin: 40px 0;
}

img {
	max-width: 100%;
	height: auto;
}

/* -----------------------------*/
/* Custom CSS by Silvia*/
/* -----------------------------*/

ul, ul li {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

.hide { display: none; }
.show { display: block; }

.section {
	text-align: center;
}

.section [class*="col-"] {
	cursor: pointer;
}

#choose-team .row { margin-bottom: 0; }

.team { opacity: 0.6; }

.headlines {	
	text-align: left;
	font-size: 21px;
	padding-bottom: 35px;
	border: none;	
}

.headlines, .headlines:hover {
	background: #FFF;
}

.headlines a {
	font-weight: 200;
}

.row.closed {
	height: 0;
	visibility: hidden;
}