
html, body {
	height: 100%;
}

.container {
 	padding: 20px;
	min-height: 100%;
}

h4 {
 	margin-top: 25px;
}

.row {
	margin-bottom: 20px;
}

.row .row {
	margin-top: 10px;
 	margin-bottom: 0;
}

[class*="col-"] {
	padding: 15px 0;
	background-color: #CCC;
	border: 1px solid rgba(146, 160, 156, 0.2);
	-webkit-transition: background-color 200ms linear;
     -moz-transition: background-color 200ms linear;
     -o-transition: background-color 200ms linear;
     -ms-transition: background-color 200ms linear;
     transition: background-color 200ms linear;
}

.selected {
	background-color: #FAFAFA;
}

#choose-league {
	margin-bottom: 40px;
}

#choose-league [class*="col-"]:not(.selected),
.team {
	opacity: 0.6;
}

#choose-league [class*="col-"]:not(.selected):hover {
	opacity: 1;
}

hr {
	margin: 40px 0;
}

img {
	max-width: 100%;
	height: auto;
}

/* -----------------------------*/
/* Custom CSS by Silvia*/
/* -----------------------------*/

p {
	font-weight: 300;
}

a:hover, a:focus {
	color: #89C0FC;
	text-decoration: none;
}

ul, ul li {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

.hide { display: none; }
.show { display: block; }

.page-header { position: relative; }
#espn-logo {
	display: block;
	background: url("../img/espn-api-black.png");
	width: 150px;
	height: 47px;
	position: absolute;
	top: 0;
	right: 0;
	text-indent: -9999px;
}
#espn-logo:hover {
	background: url("../img/espn-api-silver.png");
}

.section { text-align: center; }
.section [class*="col-"] { cursor: pointer; }

#choose-team .row { margin-bottom: 0; }

.team.active, .team:hover { opacity: 0.8; }
.team span { 
	display: block; 
	color: #3D3636;
	font-size: 16px;
	visibility: hidden;
	opacity: 0;
}
.team:hover span,
.team.active span {
	visibility: visible;
	opacity: 0.8;
}

.team.active span {
	color: #FFF;
}

.headlines {	
	text-align: left;
	font-size: 21px;
	padding-bottom: 35px;
	border: none;	
}
.headlines, .headlines:hover { background: #FFF; }
.headlines a { font-weight: 200; }

.row.closed {
	height: 0;
	visibility: hidden;
}


/**
*  Media Queries
*
**/
@media all (max-width: 1000px) {
	
}