.container {
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(61, 124, 104, 0.15);
  border: 1px solid rgba(61, 124, 109, 0.2);
}

[class*="col-"]:hover {
	background-color: rgba(124, 61, 86, 0.15);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

img {
	max-width: 100%;
	height: auto;
}

/* -----------------------------*/
/* Custom CSS by Silvia*/
/* -----------------------------*/

.section {
	text-align: center;
}

.section [class*="col-"] {
	cursor: pointer;
}

#choose-team .row { margin-bottom: 0; }